body{
    margin: 0px;
    padding: 0px;
    
}
#navBar{
    display: flex;
    font-family: "Josefin Sans", serif;
    font-weight: 600;
    background: linear-gradient(to bottom, red, rgb(200, 9, 9),rgba(120, 2, 2));    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
    padding-right: 50px;

}
/* NAV ALL ANCHOR TAGS */
#navBar a{
    text-decoration: none;
    color: #FDFEFE;

}
/* NAV LOGO */
#navLogo a{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navLogo img{
    height: 90%;
    width: 90%;;
    object-fit: contain;
}
#navSearch{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 22px;
    overflow: hidden;
}
#joinIcon{
    height: 35px;
    width: 35%;

    background-color: white;
    display: flex;
    overflow: hidden;
    border-radius: clamp(5px,9px,10%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.9); 
    inset: 0px 2px 5px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); /* Softens the edges */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.8));


}
#searchIcon{
    height: 100%;
    width: 1.5rem;
    padding-top: auto;
    display: flex;

}
#searchIcon i{
    margin: auto;
    font-size: 100%;
}
#searchBar{
    margin-top: auto;
    margin-bottom: auto;
}
#searchInput{
    font-size: 15px;
    padding-left: 4px;
    outline: none;
    border: none;
    flex: 1;
    background: transparent;
}

#rightSide{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 16px;

}

#leftSide{
    height: 70px;
    display: flex;
    align-items: center;
    gap:20px;
    margin-left: 22px;
}

/* Setting Up Icons */
#icon {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}

.icons a{
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 8px;
    transition: all 0.1s ease-out;

}
.icons a:hover, .icons a:focus {
    background-color: #ffffff62;
    border-radius: 10%;
    border-bottom: 1.5px solid white;
    font-size:22px;

}

.navText{
    font-size: 14px;
}
#navMenu div{
    margin-left:4px;
    width: 12px;
    font-size: 25px;
}

/* REGISTRE Landing Page*/
#home{
    margin-top: 30px;
    height: 84vh;
    width: 100%;
    background-image: url(img/extraImages/stadiumWIde.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#portion1{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
#leftPortion{
    height: 85%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#rightPortion{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px); 
    border-radius: 20px; 
    box-shadow: 5px 5px 30px #141834;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
#adHead{
    padding-top: 15px;
    font-family: "Josefin Sans", serif;
    font-weight: 900;
    font-size: 70px;
}
#adDes{
    font-family: "Josefin Sans", serif;
    font-weight: 450;
    font-size: 30px;
}
#leftPortionImage{
    height: 100%;
    width: 100%;
}
#adButton{
    height: 15%;
    width: 25%;
    background-color: white;
    border-radius: clamp(80px, 50%, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px #FEB2D9;
    color: #C80909;
    cursor: pointer;
}

#adButton a{
    text-decoration: none;
    font-family: "josefin Sans", serif;
    font-size: 30px;
    font-weight: 900;
    padding-top: 7px;
    color: inherit;

}
#adButton:hover{
    background-color: #C80909;
    box-shadow: 1px 1px 4px #C80909;
    color: white;
}
#leftPortionImage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 10px #5c2657);

}
#home-leftPortion-img {
    transition: transform 0.1s ease-in-out, opacity 1s ease-in-out;
}
#textString1{
    font-family: "josefin Sans", serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    font-style: italic;
}

/* Home 2 */
#home2{
    margin-top: 30px;
    height: 90vh;
    width: 100%;
    margin-bottom: 30px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#h2TextBox{
    border-radius: 1%;
    overflow: hidden;
}

#h2TextBoxImage{
    height: 80vh;
    width: 100%;
    margin: 15px;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
}

/* 3rd Home */
#contestHome{
    height: 90vh;
    width: 100%;
    background-image: url(img/extraImages/backH3.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}




#h3Button{
    height: 10%;
    width: 25%;
    background-color: white;
    border-radius: clamp(80px, 50%, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px #FEB2D9;
    color: #C80909;
    cursor: pointer;
}

#h3Button a{
    text-decoration: none;
    font-family: "josefin Sans", serif;
    font-size: 30px;
    font-weight: 900;
    padding-top: 7px;
    color: inherit;

}
#h3Button:hover{
    background-color: #C80909;
    box-shadow: 1px 1px 4px #C80909;
    color: white;
}


    
#iconH3 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 350px;
}
#h3ContentData{
    font-size: 40px;
    color: white;
    font-weight: 700;
    font-family: "josefin Sans";

}
/* Auction WOrk */
#auctionHome{
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    background-image: url(img/extraImages/auctionWall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    font-family: "josefin Sans";
    color: white;
    display: flex;
    gap: 30px;
    backdrop-filter: blur(5px);
}
#auctionText{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(to bottom, #BD1686, #F7E019);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(5px);
}
#auctionContent{
    height: 450px;
    width: 100%;
    
    display: flex;
}
#auctionContentLeft{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);


}
#auctionWork{
    font-size: 350px;
    background: linear-gradient(to bottom, #ea1fa6, #fbe306);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AuctionButton{
    height: 10%;
    width: 25%;
    background-color: #F7E019;
    border-radius: clamp(80px, 50%, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px #FEB2D9;
    color: #14a4f7;
    cursor: pointer;
}

#AuctionButton a{
    text-decoration: none;
    font-family: "josefin Sans", serif;
    font-size: 30px;
    font-weight: 900;
    padding-top: 7px;
    color: inherit;

}
#AuctionButton:hover{
    background-color: #BD1686;
    box-shadow: 1px 1px 4px #C80909;
    color: white;
}
/* Footer Of tlhe Page */
#footer{
    height: 50vh;
    width: 100%;
    background-color: #20004B;
}
#footerHr{
    padding: 0;
    margin: 0;
}
#dataFooter{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "josefin Sans", serif;

}
#footerLogo{
    height: 100%;
    width: 20%;
}
#footerLogo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#footerAddress{
    height: 40%;
    width: 15%;
    margin-top: 60px;
    padding-left: 20px;
    font-size: 12px;

}
#footerHead{
    font-size: 30px;
}
#footerAbout{
    height: 40%;
    width: 20%;
    margin-top: 60px;
    padding-left: 20px;
    font-size: 12px;
}
#footerSoicalMedia{
    height: 40%;
    width: 20%;
    margin-top: 60px;
    padding-left: 20px;
    font-size: 12px;
}
#FooterTermsCondition{
    height: 40%;
    width: 20%;
    margin-top: 60px;
    padding-left: 20px;
    font-size: 12px;

}
#footerData{
    margin-top: 9px;
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}